@model Dojo.Models.SamouraisVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Samourai</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Samourai.Id)
        <dt>
            @Html.DisplayNameFor(model => model.Samourai.Force)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Samourai.Force)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Samourai.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Samourai.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Samourai.Arme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Samourai.Arme.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Samourai.Arts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Samourai.Arts)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
